*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto";
  overflow-x: hidden;
  scroll-behavior: smooth;
}
img {
  vertical-align: middle;
  object-fit: contain;
}
::selection {
  background-color: #ccc;
}
ul {
  list-style: none;
}
ol {
  list-style: none;
}