.site-footer {
    background-color: #04435E;
    padding: 68px 84px;
}

.container {}

.footer-container {
    max-width: 1440px;
    width: 100%;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.contact-box {}

.contact__text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 30px;
}

.box1 {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.footer-email__img {}

.footer-box1__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 165%;
    color: rgba(255, 255, 255, 0.7);
}

.footer-phone__img {
    margin-left: -5px;
}

.footer-map__img {}

.footer-about__list {
}

.footer-about__list_title {}

.about-title {
    margin-bottom: 30px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #fff;
}

.footer-about__list_text {
    margin-bottom: 30px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 165%;
    color: rgba(255, 255, 255, 0.7);
}

.footer-for__list {
}

.for__list-inner {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 165%;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
}

.for__list_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 30px;
}

.footer-end__box {}

.eng__box_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #fff;
}

.site-footer__form {}

.form__input {
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
    border-bottom: 1px solid #fff;
    max-width: 305px;
    width: 100%;
    padding-bottom: 10px;
}

.form__textarea {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: #fff;
}
.footer__submit-btn {
    padding: 10px 20px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
    text-align: center;
    color: #04435e;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-top: 16px;
}

@media only screen and (max-width:768px) {
    .footer__inner {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .boxcontandabout {
        display: flex;
    }
    .boxforandbeck {
        display: flex;
    }
    .footer-end__box {
        margin-left: 150px;
    }
    .footer-about__list {
        margin-left: 50px;
    }
    .contact__text {
        font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 150%;
color: #fff;
    }
    .about-title {
        font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 150%;
color: #fff;
    }
    .footer-box1__text {
        font-family: var(--font-family);
font-weight: 500;
font-size: 15px;
line-height: 165%;
color: rgba(255, 255, 255, 0.7);
    }
    .footer-about__list_text {
        font-family: var(--font-family);
font-weight: 500;
font-size: 15px;
line-height: 165%;
color: rgba(255, 255, 255, 0.7);
    }
    .for__list-inner {
        font-family: var(--font-family);
font-weight: 500;
font-size: 15px;
line-height: 165%;
color: rgba(255, 255, 255, 0.7);
    }
    .for__list_title {
        font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 150%;
color: #fff;
    }
}
@media only screen and (max-width:581px) {
    .footer__inner {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .boxcontandabout {
        display: flex;
    }
    .boxforandbeck {
        display: flex;
    }
    .footer-end__box {
        margin-left: 50px;
    }
    .footer-about__list {
        margin-left: 50px;
    }
    .contact__text {
        font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 150%;
color: #fff;
    }
    .about-title {
        font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 150%;
color: #fff;
    }
    .footer-box1__text {
        font-family: var(--font-family);
font-weight: 500;
font-size: 15px;
line-height: 165%;
color: rgba(255, 255, 255, 0.7);
    }
    .footer-about__list_text {
        font-family: var(--font-family);
font-weight: 500;
font-size: 15px;
line-height: 165%;
color: rgba(255, 255, 255, 0.7);
    }
    .for__list-inner {
        font-family: var(--font-family);
font-weight: 500;
font-size: 15px;
line-height: 165%;
color: rgba(255, 255, 255, 0.7);
    }
    .contact-box {
        margin-left: -70px;
    }
    .footer-for__list {
        margin-left: -70px;
    }
    .for__list_title {
        font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 150%;
color: #fff;
    }
}
@media only screen and (max-width:413px) {
    .boxcontandabout {
        flex-direction: column;
    }
    .boxforandbeck {
        flex-direction: column;
    }
    .footer-end__box {
        margin-left: 0px;
    }
    .footer-about__list {
        margin-left: 0px;
    } 
    .for__list_title {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #fff;
    }  
    .footer-for__list {
        margin-left: auto;
        margin-right: auto;
    }
    .footer-about__list {
        margin-left: auto;
        margin-right: auto;
    }
    .contact-box {
        margin-left: auto;
        margin-right: auto;
    }
}