.site-header {}

.container {}

.header-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1320px;
    width: 100%;
}

.header__inner {    
    padding: 16px 68px;
}

.site-header__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.list__inner {
    margin-right: 50px;
    display: flex;
}

.list__inner_img {
    display: inline-block;
}

.list__inner_text {
    display: inline-block;
}

.list__inner-icon {
    display: inline-block;
}

.box {
}
.icon-list {
    gap: 5px;
}
@media only screen and (max-width: 768px) {
    .site-header__list {
        flex-direction: column;
    }
    .map-loca {
        max-width: 254.01px;
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
    .header-email-box {
        margin-top: -30px;
        margin-left: 300px;
    }
    .icon-list {
        margin-top: -30px;
        margin-left: 300px;
    }
    .tel-text-header {
        font-size: 12px;
    }
    .email-header-text {
        display: inline-block;
        font-size: 12px;

    }
}
@media only screen and (max-width:500px) {
    .list__inner:nth-child(1) {
        margin-left: -50px;
    }
    .list__inner:nth-child(2) {
        margin-left: -50px;
    }
    .list__inner:nth-child(3) {
        margin-left: -50px;
    }
    .list__inner:nth-child(4) {
        margin-left: 250px;
    }
}
@media only screen and (max-width:450px) {
    .list__inner:nth-child(1) {
        margin-left: -50px;
    }
    .list__inner:nth-child(2) {
        margin-left: -90px;
    }
    .list__inner:nth-child(3) {
        margin-left: -70px;
    }
    .list__inner:nth-child(4) {
        margin-left: 200px;
    }
}
@media only screen and (max-width: 390px) {
    .site-header__list {
    }
    .header-email-box {
        margin-top: -30px;
        margin-left: 200px;
    }
    .list__inner:nth-child(2) {
        display: none;
    }
    .list__inner:nth-child(3) {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .list__inner:nth-child(1) {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .list__inner:nth-child(4) {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .icon-list {
        margin-top: 30px;
        margin-left: 0px;
        margin-left: auto;
        margin-right: auto;
    }
}